
* {
 box-sizing: border-box;

}
.active{
	background:#fff6;
	border-radius: 30px;
}
body {
 font-family: 'Courier New', monospace;
  background: url("hatter.png");
  background-repeat: repeat-y;
  background-size: 140%;
  background-color: grey;
 
 
}
a {
 text-decoration: none;
 color: white;
}
li {
 list-style: none;
 
}
/*Logo forgasa*/
.load{
	
	animation: animate 8s alternate infinite;
}
	@keyframes animate{
		0%{
			transform:rotateY(0deg);
		}
		50%{
			transform:rotateY(180deg);
		}
		100%{
			transform:rotateY(0deg);
		}
	}
	
	@keyframes growDown {
    0% {
        transform: scaleY(0.3)
    }
    80% {

        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.kep{
	position: relative;
	min-width: 100px;
	width: 100px;

}	
.logo {
 position: relative;
 font-size: 40px;
 text-align: left;
 min-width: 300px;
 width: 300px;

}

/*Navigacio*/
.menu .contact:hover{
background-color: #fff6;	
border-bottom-right-radius: 0px;
border-bottom-left-radius: 0px;
}

nav{
 justify-content: space-between;
 background-color: #36c5ff;
 color: #fff;

 border-radius: 10px;
 
}

.menu {
 position: relative;
 display: flex;
 gap: 1em;

 max-width: 1000px;

 margin-left:auto;
 margin-right:0px;
}

@media screen and (min-width: 1px){
	div.menu{
		font-size: 18px;
	}
	ul.dropdown{
		 top: 60px;
	}
	ul.dropdown li{
		  width: 300px;
	}
	div.menu li{
		margin-left:2%;
		margin-right: 2%;
	}
	nav{
		min-width: 1300px;
	}
}
@media screen and (min-width: 800px){
	div.menu{
		font-size: 18px;
	}
	ul.dropdown{
		 top: 60px;
	}
	ul.dropdown li{
		  width: 300px;
	}
	div.menu li{
		margin-left:5%;
		margin-right: 5%;
	}
	nav{
		min-width: 1300px;
	}
}
@media screen and (min-width: 1000px){
	div.menu{
		font-size: 18px;
	}
	ul.dropdown{
		 top: 60px;
	}
	ul.dropdown li{
		 width: 300px;
	}
}
@media screen and (min-width: 1300px){
	div.menu{
		font-size: 18px;
	}
	ul.dropdown{
		 top: 60px;
	}
	ul.dropdown li{
		  width: 400px;
	}
}
@media screen and (min-width: 1600px){
	div.menu{
		font-size: 22px;
	}
	ul.dropdown{
		 top: 65px;
	}
	ul.dropdown li{
		 width: 400px;
	}
}
@media screen and (min-width: 1700px){
	div.menu{
		font-size: 28px;
	}
	ul.dropdown{
		 top: 72px;
	}
	ul.dropdown li{
		  width: 400px;
	}
}
@media screen and (min-width: 2000px){
	div.menu{
		font-size: 35px;
	}
	ul.dropdown{
		 top: 78px;
	}
	ul.dropdown li{
		  width: 470px;
		 
	}
}
@media screen and (min-width: 1px){
	div.menu li{
		margin-left:auto;
		margin-right: 30px
	}
}
.menu li {
 padding: 20px 25px;

}
.menu a {
 padding: 20px 0px 25px;

}
.menu li:hover {
 background-color: #fff6;
 border-radius: 30px;
 transition: 0.5s ease;
}

/*Dropdown menuhoz a kodok*/
.contact {
 position: relative;
 
}


.dropdown {
 background-color: #fff6;
 padding: 0px;
 position: absolute;
 display: none;
 border-radius: 15px;
 right: 0px;
 border-top-right-radius: 0px;
 animation: growDown 500ms ease-in-out forwards 
}
.dropdown li {
 margin-top: 10px;
 padding:10px;

 text-align: center;
}
.dropdown li:hover {
 background: #4c9e9e;
 
}
.contact:hover .dropdown {
 display: flex;
}
.tarolo {
	position: relative;
	width : 100%;
	height: 100%;
	margin-top: auto;
	margin-left: auto;
	bottom: 0%;
	
}
/*kartya forgatas*/
/*kartya meretei*/
.sorban {
	margin-top: 3%;
	display: flex;
	width: 100%;
	margin-left: auto;
	margin-bottom: 100px;
	min-width: 1200px;
	
	
	}
.container {
	position: relative;
	width: 300px;
	height: 280px;
	margin-right: auto;
	margin-left: auto;
	margin-left: 10%;
	
}
/*elso es hatso resz*/
.card{
	
	position: relative;
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: all 0.5s ease;
	
}
.card:hover {
	transform: rotateY(180deg);


}
/*Elolap es hatlap*/
.elolap{
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	background-color: grey;
	color: #333;
	border-radius: 20%;
	
}
.hatlap{
	position: absolute;
	font-size: 22px;
	
	width: 120%;
	height: 100%;
	backface-visibility: hidden;
	background-color: #F0FFFF;
	color: #333;
	transform: rotateY(180deg);
	border-radius: 10px;

}
.hatlap table{
text-align: center; 
width: 100%; 
height: 100%;

}	

/*Szamologep*/
.szgep p{
	width: 70px;
	height: 70px;
	position: fixed;
	border-radius: 60%;
	background-color: none;
	right: 6px;
	z-index:1;
	background: url("calc.png");
	background-size: cover;
}
.szgep:hover .szamologep {
 display: flex;
 z-index: 1;
}

.szamologep{
	background-color: #36c5ff;
	display: none;
	border-radius: 20px;
	width: 320px;
	height: 110px;
	position: fixed;
	bottom: auto;
	top: auto;
	right: 30px;
}
.feher {
	background-color: white;
}
